.register {
  width: 100vw;
  height: 100vh;
  background: rgb(211, 131, 18);
  background: linear-gradient(
    160deg,
    rgba(211, 131, 18, 1) 0%,
    rgba(168, 50, 121, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 25%;
  height: 60%;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 30px;
}

.registerHome {
  padding-top: 10px;
  padding-left: 15px;
}

.link {
  text-decoration: none;
}

.registerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  margin-left: 20px;
  font-size: 40px;
  font-weight: 900;
  background-image: linear-gradient(-90deg, #d38312, #a83279);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.registerCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerFields {
  background-color: #d3d3d3;
  border-radius: 30px;
  height: 40px;
  width: 70%;
  margin-top: 20px;
  box-sizing: border-box;
  display: block;
}

.registerIcon {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.registerInput {
  border: none;
  width: 70%;
  height: 35px;
  font-size: 15px;
  background-color: #d3d3d3;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  width: 40%;
  height: 40px;
  border-radius: 30px;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      160deg,
      rgba(211, 131, 18, 1) 0%,
      rgba(168, 50, 121, 1) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 20px;
}

.loginButton:disabled {
  cursor: not-allowed;
}
/* Bottom */

.registerBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.registerButton:hover {
  box-shadow: none;
  color: white;
}

.memberInfo {
  font-weight: 700;
  margin-bottom: 5px;
}
