.topbarContainer {
  height: 60px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: center;
  background: rgb(211, 131, 18);
  background: linear-gradient(
    160deg,
    rgba(211, 131, 18, 1) 0%,
    rgba(168, 50, 121, 1) 100%
  );
}

.topbarLeft {
  flex: 3;
}

.Logo {
  color: #fff;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 900;
}

.topbarCenter {
  flex: 5;
}

.searchBar {
  width: 100%;
  height: 40px;
  background-color: #f0f2f5;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  height: 20px;
  margin-left: 10px;
}
.searchInput {
  border: none;
  width: 70%;
  background-color: #f0f2f5;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  margin-right: 10px;
}

.topbarIcons {
  display: flex;
  justify-content: flex-end;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  text-align: center;
  text-decoration: none;
}

.topbarIconIcon {
  height: 30px;
  width: 30px;
}

.topbarIconItemBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
